Source: golang-fsnotify
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Anthony Fok <foka@debian.org>,
           Martina Ferrari <tina@debian.org>,
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any (>= 2:1.17~),
               golang-golang-x-sys-dev (>= 0.4.0),
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-fsnotify
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-fsnotify.git
Homepage: https://github.com/fsnotify/fsnotify
XS-Go-Import-Path: github.com/fsnotify/fsnotify

Package: golang-github-fsnotify-fsnotify-dev
Architecture: all
Multi-Arch: foreign
Depends: golang-golang-x-sys-dev (>= 0.4.0),
         ${misc:Depends},
Description: File system notifications for Go
 Package fsnotify provides a platform-independent interface for file system
 notifications, for use with the Go programming language.
 .
 This package contains the fsnotify library source.
